*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #e0e0f3;
}

.section {
  padding: 1rem;
}

.container {
  max-width: 70rem;
  margin: auto;
}
