{{#if selectedPlatform}}
  <h2>Upcoming games for {{selectedPlatform.name}}</h2>

  {{#each games as |game|}}
    <li>{{game.name}}</li>
  {{/each}}
{{else}}
  <h2>Please select a platform above.</h2>
{{/if}}
