<div class="section">
  <div class="container">
    <h1>Upcoming Games</h1>

    <PlatformChooser @onchange={{action (mut platform)}} />

    <UpcomingGameList @platform={{platform}} />
  </div>
</div>
